body {
  background-color: rgb(171, 190, 213);
}

img {
  max-width: 100%;
}

.imgsize {
  width: 20%;
}

#trolley {
  width: 5%;
}

.words{
  background: rgb(246, 246, 246);
  width: 25%;
  border-radius: 15px;
  padding: 15px;
}

p {
  font-family: 'Courier New', monospace;
  font-size: 75%;
  font-weight: bold;
}

#special{

}
