@font-face {
  font-family: "Charlotte";
  src: url("../fonts/charlotte-southern.ttf") format('truetype');
}

@font-face {
  font-family: "KingThings";
  src: url("../fonts/kingthings-typewriter-2.ttf") format('truetype');
}

@font-face {
  font-family: "TentN";
  src: url("../fonts/tentang-nanti.otf") format('opentype');
}

@font-face {
  font-family: "TravelingTypewriter";
  src: url("../fonts/traveling-typewriter.ttf") format('truetype');
}

body {
  background-color: beige;
  background-image: url('../imgs/freepik-vintagepaper.jpg');
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'KingThings', serif;
  font-size: 500%;
  color: rgb(129, 35, 14);
}

p {
  font-family: 'KingThings', serif;
  font-size: 100%;
}

.text {
  background: transparent;
  border-style: solid;
  border-color: rgb(129, 35, 14);
  font-family: 'TravelingTypewriter', serif;
  color: rgb(129, 35, 14);
}

.button {
  opacity: 75%;
  border-style: solid;
  border-color: rgb(83, 69, 25);
  font-family: 'KingThings', serif;
}

.button:hover {
  opacity: 100%;
  border-style: inset;
}
