@font-face {
  font-family: "AmaticBold";
  src: url("../fonts/amatic-bold.ttf") format('truetype');
}

@font-face {
  font-family: "AmaticRegular";
  src: url("../fonts/amatic-reg.ttf") format('truetype');
}

@font-face {
  font-family: "TentN";
  src: url("../fonts/tentang-nanti.otf") format('opentype');
}

@font-face {
  font-family: "KingThings";
  src: url("../fonts/kingthings-typewriter-2.ttf") format('truetype');
}

@font-face {
  font-family: "Charlotte";
  src: url("../fonts/charlotte-southern.ttf") format('truetype');
}

body {
  background-color: beige;
  background-image: url('../imgs/freepik-vintagepaper.jpg');
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Charlotte', serif;
  font-size: 600%;
  color: rgb(129, 35, 14);
}

p {
  font-family: 'KingThings', serif;
  font-size: 100%;
}
