body {
  background-image: url("../imgs/hexagon-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180%;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  text-align: center;
}

img {
  max-width: 100%;
  height: 500px;
}

div {
  margin: auto;
}

.decor {
  background-color: white;
  width: 32%;
  padding: 20px;
}

button {
  width: 75px;
}
