body {
  background-color: rgb(95, 74, 124);
  color: rgb(224, 199, 77);
}

img {
  max-width: 100%;
  width: 50%;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.table{
	display: table;
	width: 100%;
}
.tableRow {
	display: table-row;
}
.tableCell {
	border: 1px solid rgb(224, 199, 77);
	display: inline-block;
	padding: 5px;
}
.tableBody {
	display: table-row;
}
